# MongoDB Bağlantı Bilgileri
MONGO_URL=mongodb+srv://<user>:<pass>@cluster.mongodb.net/
DB_NAME=mindroute
COLL_NAME=places

# Alternatif olarak yerel MongoDB için:
# MONGO_URL=mongodb://127.0.0.1:27017
