fastapi
uvicorn
pymongo
python-dotenv
pydantic
requests
httpx
tenacity
python-decouple
ffmpeg-python
librosa
torch
transformers
openai-whisper
python-multipart
onnxruntime
opencv-python
numpy
deepface
google-generativeai
